<?xml version='1.0'?>
<config>
    <modules>
        <Ccc_Item>
            <version>0.0.1</version>
        </Ccc_Item>
    </modules>
    <admin>
        <routers>
            <item>
                <use>admin</use>
                <args>
                    <module>Ccc_Item</module>
                    <frontName>item</frontName>
                </args>
            </item>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <item>
                <title>Items</title>
                <sort_order>88</sort_order>
                <children>
                    <item1>
                        <title>Manage Item</title>
                        <sort_order>22</sort_order>
                        <action>item/adminhtml_item</action>
                    </item1>
                </children>
            </item>
        </menu>
    </adminhtml>
    <global>
        <models>
            <item>
                <class>Ccc_Item_Model</class>
                <resourceModel>item_resource</resourceModel>
            </item>
            <item_resource>
                <class>Ccc_Item_Model_Resource</class>
                <entities>
                    <item>
                        <table>item</table>
                    </item>
                </entities>
            </item_resource>
        </models>
        <resources>
            <item_setup>
                <setup>
                    <module>Ccc_Item</module>
                </setup>
            </item_setup>
        </resources>
        <blocks>
            <item>
                <class>Ccc_Item_Block</class>
            </item>
        </blocks>
        <helpers>
            <item>
                <class>Ccc_Item_Helper</class>
            </item>
        </helpers>
    </global>
</config>